
.spinner-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	padding: 0px;
	/* border-radius: 20px; */
}
.spinner-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}
.spinner-pulse-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner-label {
	margin-top: 10px;
	color: white;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.spinner-pulse-dot {
	width: 0.63em;
	height: 0.63em;
	margin: 0 0.25em;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	/* display: inline-block; */
	animation: pulse 1.2s infinite ease-in-out;
}
.spinner-pulse-dot:nth-child(1) { animation-delay: 0s; }
.spinner-pulse-dot:nth-child(2) { animation-delay: 0.2s; }
.spinner-pulse-dot:nth-child(3) { animation-delay: 0.4s; }
.spinner-pulse-dot:nth-child(4) { animation-delay: 0.6s; }


@keyframes pulse {
	0%, 80%, 100% { transform: scale(0); opacity: 0.3; }
	40% { transform: scale(1); opacity: 1; }
}

.spinner-bar {
	width: 10em;
	height: 0.6em;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 999px;
	overflow: hidden;
	position: relative;
	backdrop-filter: blur(8px);
}
.spinner-bar::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.4);
	animation: slide 1s infinite;
}
@keyframes slide {
	0% { left: -50%; }
	100% { left: 100%; }
}

.page-container {
	position: fixed;
	display: flex;
    align-items: center;
    height: 50vh;
	left: 50%;
    transform: translateX(-50%);
}
.bar-container {
	padding: 100px;
    width: fit-content;
	border: none !important;
}