

.image-preview-container {
	display: flex !important;
	align-items: start !important;
	gap: 5px !important;
}
.image-preview {
	width: 250px !important;
	height: 200px !important;
}
.image-preview-container .question {
	border-radius: 3% !important;
	padding: 0 !important;
	border: none !important;
}
.image-preview-container .profile {
	border-radius: 50% !important;
	padding: 2px !important;
	border: 1px solid #666 !important;
	width: 200px !important;
}
.image-preview-container .remove {
	margin-top: 8px !important;
	/* color: #ff6b6b !important; */
	background-color: #ff5454 !important;
	font-style: italic !important;
	/* border-color: #ff6b6b !important; */
	padding: 2px 5px !important;
	font-size: 14px !important;
	border-radius: 3px !important;
}
.image-preview-container .remove:hover {
	color: #ff5454 !important;
	background-color: transparent !important;
	border-color: #ff5454 !important;
	font-weight: bold !important;
}
.image-preview-container .remove:active {
	color: unset !important;
	background-color: #ff5454 !important;
}
.image-preview-container .download {
	position: absolute !important;
}

.file-upload-container {
	display: inline-flex !important;
}

.modal-container {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	width: 80% !important;
	height: 80% !important;
	border-radius: 10px !important;
	overflow: hidden !important;
}
.modal-container .modal-preview {
	display: flex !important;
	gap: 12px !important;
	padding: 12px !important;
	justify-self: flex-end !important;
	position: relative !important;
	z-index: 100 !important;
}
.modal-container button {
	background: rgba(0, 0, 0, 0.5) !important;
}
.modal-container button:hover {
	background: rgba(255, 255, 255, 0.3) !important;
	color: rgba(0, 0, 0, 0.8) !important;
}